.login-content {
  background: url("/app/template/img/009.jpg") no-repeat 50% 50%;
  background-size: cover;
  height: 100vh;
  @include fontzcolor(24px, #fff);
  @include disflex(flex, center, center);

  .login-container {
    background: #09102c;
    border-radius: 20px;
    width: 35%;
    border: 2px solid #f1f1f1;

    .login-top {
      color: #fff;
      background: #09102c;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom: 2px solid #f1f1f1;
      padding: 20px;
      @include disflex(flex, space-between, center);
      flex-direction: column;

      .login-title {
        font-weight: 700;
        font-size: 30px;
        margin-bottom: 20px;
      }
      .login-text {
        font-size: 16px;
      }
      // Адаптация от вячеславскеса
      @media (max-width: 470px) {
        .login-title {
          font-size: 25px;
        }
        .login-text {
          font-size: 12px;
        }
        @media (max-width: 400px) {
          .login-title {
            font-size: 20px;
          }
          .login-text {
            font-size: 10px;
            text-align: center;
          }
        }
        @media (max-width: 335px) {
          .login-title {
            font-size: 18px;
          }
        }
      }

      .login__link {
        text-decoration: underline;
        @include fontzcolor(16px, #fff);
        text-shadow: hsl(0, 0%, 100%) 0px 0px 0.15em, hsl(0, 0%, 100%) 0px 0px 0.3em, hsl(0, 0%, 100%) 0px 0px 0.45em,
          hsl(308, 100%, 50%) 0px 0px 0.3em, hsl(308, 100%, 50%) 0px 0px 0.52em, hsl(308, 100%, 50%) 0px 0px 0.6em,
          hsl(308, 100%, 50%) 0px 0px 0.75em;
        &:hover {
          text-shadow: hsl(0, 0%, 100%) 0px 0px 0.3em, hsl(0, 0%, 100%) 0px 0px 0.6em, hsl(0, 0%, 100%) 0px 0px 0.9em,
            hsl(308, 100%, 50%) 0px 0px 0.6em, hsl(308, 100%, 50%) 0px 0px 1.04em, hsl(308, 100%, 50%) 0px 0px 1.2em,
            hsl(308, 100%, 50%) 0px 0px 1.5em;
          text-decoration: underline;
        }
      }
    }

    .login-mistakes {
      @extend %tplerror;
    }

    .login-form {
      .login__string {
        padding: 20px 120px;
        display: flex;
        flex-direction: column;

        &:nth-child(1) {
          margin-top: 40px;
        }

        &:nth-child(2) {
          margin-bottom: 40px;
        }

        .label-login {
          margin-bottom: 10px;
        }

        .login__input {
          @extend %tplinput;
        }
        @media (max-width: 470px) {
          .login__string {
            padding: 20px 60px;
          }
          &:nth-child(1) {
            margin-top: 20px;
          }

          &:nth-child(2) {
            margin-bottom: 20px;
          }

          .label-login {
            margin-bottom: 5px;
          }
        }
      }
      // Адаптация от вячеславскеса
      @media (max-width: 1500px) {
        .login__string {
          padding: 20px 80px;
        }
      }
      @media (max-width: 500px) {
        .login__string {
          padding: 20px 40px;
        }
      }

      .login-bottom {
        background: #09102c;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top: 2px solid #f1f1f1;
        padding: 20px 0;
        @include disflex(flex, center, center);

        .button__login {
          font-size: 20px;
          @extend %tplneon;
          padding: 10px 50px;
        }
        @media (max-width: 500px) {
          .button__login {
            font-size: 16px;
            padding: 10px 40px;
          }
        }
      }
    }
  }
  // Адаптация от вячеславскеса
  @media (max-width: 1390px) {
    .login-container {
      width: 40%;
    }
  }
  @media (max-width: 1165px) {
    .login-container {
      width: 45%;
    }
  }
  @media (max-width: 1040px) {
    .login-container {
      width: 55%;
    }
  }
  @media (max-width: 850px) {
    .login-container {
      width: 60%;
    }
  }
  @media (max-width: 777px) {
    .login-container {
      width: 70%;
    }
  }
  @media (max-width: 668px) {
    .login-container {
      width: 90%;
    }
  }
  @media (max-width: 540px) {
    .login-container {
      width: 100%;
    }
  }
}
@media (max-width: 400px) {
  .login-content {
    @include fontzcolor(20px, #fff);
  }
}
